**/target/
**/generated/
/features/*/src/main/history/dependencies.xml
nbactions.xml
bundles/*/bin/
bundles/*/bin_test/
bundles/cnf/cache/
bundles/cnf/local/
bundles/cnf/release/

# Github Falvored Markdown Eclipse IDE plugin
**/.*.md.html
